# Gateway selector: "xendit" | "hitpay"
PAYMENT_GATEWAY=hitpay

# Server
PORT=3310

# Xendit
XENDIT_API_KEY=

# Hitpay
HITPAY_API_KEY=
HITPAY_SALT=
HITPAY_API_URL=https://api.sandbox.hit-pay.com/v1
HITPAY_WEBHOOK_SECRET=
